*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    flex-direction: column;
justify-content: space-around;
    align-items: center;
}


.card{
    height: 60vh;
    width: 25vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    background-color: rgb(77, 146, 249);
}

.card h1{
    color: rgb(255, 181, 21);
    text-align: center;
}

.card img{
    padding-top: 15px;
    height: 200px;
    width: 200px;
}

.card h3{
padding-top: 20px;
    color: aliceblue;
}

.card button{ 
    margin-top: 30px;
    height: 50px;
    width: 150px;

}

button:hover{
    background-color:chocolate;
}